<html>
    <head>
        <!-- 
            Yeah, I'm definitely not into front-end
        -->
        <title>Love Live API</title>
        <style>
            * {
                font-family: consolas;
            }

            ::-webkit-scrollbar {
                width: 12px;
                background-color: white;
            }

            ::-webkit-scrollbar-thumb {
                background: #3a3b3c;
            }

            html {
                background-image: url("https://i.ibb.co/MsSqrQP/image.png");
            }

            header ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #3a3b3c;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            header li {
                float: left;
            }

            header li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            header li a:hover {
                background-color: #333;
                transition: 0.5s;
            }

            .current {
                background-color: #F00494;
            }

            .main h1 {
                position: absolute;
            }

            .character h1 {
                position: relative;
                color: #3a3b3c;
                font-size: 20px;
            }

            .main ul {
                display: inline-block;
            }

            .main ul li {
                position: relative;
                top: 20px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .main ul li a {
                text-decoration: none;
                color: #3a3b3c;;
            }

            .main ul li h1 a:hover {
                color: white;
            }
        </style>
    </head>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/characters" class="current">Characters</a></li>
            <li><a href="/">Schools</a></li>
            <li><a href="/">Groups</a></li>
        </ul>
    </header>
    <body>
        <div class="main">
            <!-- <h1>Love Live! Characters</h1> -->
            <ul>
                <% characters.forEach(character => {%>
                <li>
                    <div class="character">
                        <h1><a href="/"><%= character.name.eng %></a></h1>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
