<html>
    <head>
        <!-- 
            Yeah, I'm definitely not good at front-end
        -->
        <title>Love Live API</title>
        <style>
            * {
                font-family: consolas;
            }

            html {
                background-image: url("https://i.ibb.co/MsSqrQP/image.png");
            }

            .main h1 {
                font-family: consolas;
                color: #3a3b3c;
                /*border: 4px solid #3a3b3c;
                background-color: #1d1e28;*/
                border-radius: 12px;
                font-size: 24px;
                padding: 10px 30px;
                position: absolute;
                left: 75px;
                bottom: 265px;
                text-align: center;
                font-size: 80px;
                filter: blur(0px);
            }

            .git {
                background-color: transparent;
                color: #3a3b3c;
                border: 4px solid #3a3b3c;
                border-radius: 12px;
                font-size: 24px;
                padding: 10px 30px;
                position: absolute;
                left: 110px;
                bottom: 250px;
                text-decoration: none;
                font-family: consolas;
                font-weight: bold;
                transition: 0.5s;
                filter: blur(0);
            }

            .git:hover {
                color: white;
                filter: blur(0);
            }

            .api {
                background-color: transparent;
                color: #3a3b3c;
                border: 4px solid #3a3b3c;
                border-radius: 12px;
                font-size: 24px;
                padding: 10px 30px;
                position: absolute;
                left: 280px;
                bottom: 250px;
                text-decoration: none;
                font-family: consolas;
                font-weight: bold;
                transition: 0.5s;
                filter: blur(0);
            }

            .api:hover {
                color: white;
                filter: blur(0);
            }

            label {
                font-size: 20px;
            }

            .submission {
                background-color: transparent;
                border: 0;
                position: relative;
                right: 10px;
                font-size: 20px;
                width: 263.3px;
                color: #3a3b3c;
            }

            .menu {
                background-color: transparent;
                display: block;
                color: #3a3b3c;
                margin: 0;
                padding: 0;
                text-align: left;
                position: absolute;
                bottom: 200px;
                left: 110px;
            }

            ::placeholder {
                color: #3a3b3c;
            }

            .submission:focus {
                outline: none;
                background-color: transparent;
                border: 0;
            }

            #sub {
                position: relative;
                width: 80px;
                height: 30px;
                border-radius: 25px;
                border: 4px solid #3a3b3c;
                font-size: 15px;
                color: #3a3b3c;
                background-color: transparent;
                font-weight: bold;
                transition: 0.5s;
            }

            #sub:focus {
                outline: none;
            }

            #sub:hover {
                color: white;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #3a3b3c;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #333;
                transition: 0.5s;
            }

            .current {
                background-color: #F00494;
            }
        </style>
        <script>
            window.onload = function() {
                const form = document.getElementById("form");
                form.addEventListener('submit', e => {
                    e.preventDefault();
                    let value = form.elements.url.value
                    !value ? value = `character/minami-kotori` : 0;
                    window.open(`https://loveliveapi.herokuapp.com/api/${value}`)
                })
            }
        </script>
    </head>
    <header>
        <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="/">Characters</a></li>
            <li><a href="/">Schools</a></li>
            <li><a href="/">Group</a></li>
        </ul>
    </header>
    <body>
        <div class="main">
            <h1>Love Live API</h1>
            <a href="https://github.com/repyh/lovelive-api" class="git" target="_blank">Github</a>
            <a href="https://loveliveapi.herokuapp.com" class="api" target="_blank">Documentation</a>
        </div>
        <div class="center" align="center">
            <form id="form">
                <div class="menu">
                    <label>https://loveliveapi.herokuapp.com/api/</label>
                    <input type="text" name="url" class="submission" placeholder="character/minami-kotori">
                    <!-- </br> -->
                    <input type="submit" value="Search" id="sub">
                </div>
            </form>
        </div>
    </body>
</html>
